<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<classes>
  	  <!-- <class name="ds_algo_Test.homePageTest"/> -->
  	  <class name="ds_algo_Test.registerPageTest"/>
  	  <!--<class name="ds_algo_Test.signInPageTest"/>-->
      <class name="ds_algo_Test.datastructuresTest"/>
      <class name="ds_algo_Test.arrayPageTest"/>
      <class name="ds_algo_Test.linkedListPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
